@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

span {
    position: absolute;
    top: 50%; right: 50%;
    font-family: 'Sarabun', sans-serif;
    transform: translate(50%,-50%);
    color: white;
  }
  
  body:after, body:before {
    content: '';
    position: absolute;
  }
  
  body:after {
    top: 50%;
    left: 0; right: 0;
    height: 1px;
  }
  body:before {
    left: 50%;
    top: 0; bottom: 0;
    width: 1px;
  }
  
body {
  font-family: 'Sarabun', sans-serif;
}